<!DOCTYPE html>
<html>
<head>
    <title>API voiture electrique</title>
</head>

<body>
    <h1>API voiture electrique</h1>
        <form id='test' action="{{ url_for("resultat")}}"" method='post'>
        
        <div>
            <label for="depart">Ville de Départ:</label>
            <input type="text" id="depart" name="depart"/>
        <div>

        <div>
            <label for="arrivee">Ville de Destination:</label>
            <input type="text" id="arrivee" name="arrivee"/>
        </div>

        <div>
            <label for="autonomy">Autonomie de Votre voiture:</label>
            <input type="number" id="autonomy" name="autonomy" />
        </div>

        <div>
            <label for="margin">Marge avant de s'arrêter recharger:</label>
            <input type="number" id="margin" name="margin" />
        </div>

        <input type="submit">Submit</input>
        </form>
        
    {% block content %}
    {% endblock %}

</body>

</html>