{% extends "base.html" %}
{% block content %}
<div>
    <p>{{ message }}</p>

    <p>Ville de Départ:</p>
    <p>{{ depart }}</p>

    <p>Ville d'arrivée:</p>
    <p>{{ arrivee }}</p>

    <p> Coordonnées:</p>
    <p>{{ coord2 }}</p>

    <p>Durée du trajet sans arrêt ni détours pour les bornes:</p>
    <p>{{ duree }} heures </p>

    <p>Longueur du trajet sans arrêt ni détours pour les bornes:</p>
    <p>{{ distance }} kms </p>

    <p>Les bornes:</p>
    <p>{{ bornes }} </p>

<!-- 
    <p>Infos complémentaires:</p>
   <p>{{ steps }} </p>
-->
</div>
{% endblock %}